body{
	background-color: #8C001A;
}


.title{
	font-family: 'Codystar', cursive;
	text-align: center;
	font-size: 54px;
}

.instructions{
	font-family: 'Monofett', cursive;
	text-align: center;
	font-size: 30px;
}

#search-results{
	text-align: center;
}